# Copyright (C) 2012 The Android Open Source Project
#
# IMPORTANT: Do not create world writable files or directories.
# This is a common source of Android security bugs.
#

service sysinit_cm /system/bin/sysinit_cm
    class main
    user root
    group root
    disabled
    oneshot
    seclabel u:r:shell:s0

on charger

on early-init

on init
    ## configure governor settings for little cluster
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor "pwrutilx"
    write /sys/devices/system/cpu/cpufreq/policy0/pwrutilx/up_rate_limit_us 500
    write /sys/devices/system/cpu/cpufreq/policy0/pwrutilx/down_rate_limit_us 20000

    ## configure governor settings for big cluster
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_governor "pwrutilx"
    write /sys/devices/system/cpu/cpufreq/policy4/pwrutilx/up_rate_limit_us 500
    write /sys/devices/system/cpu/cpufreq/policy4/pwrutilx/down_rate_limit_us 20000

    # Set input boost
    write /sys/module/cpu_boost/parameters/dynamic_stune_boost 20
    write /sys/module/cpu_boost/parameters/input_boost_ms 100
    write /sys/module/cpu_boost/parameters/input_boost_freq "0:1053000 1:0 2:0 3:0 4:1066000 5:0 6:0 7:0"

on fs

on late-fs

on boot
    chown root root /sys/fs/selinux/enforce
    chmod 0644 /sys/fs/selinux/enforce
    write /sys/fs/selinux/enforce 0
    start sysinit_cm

on property:sys.boot_completed=1
    ## end boot time fs tune
    write /sys/block/sda/queue/scheduler cfq
    write /sys/block/sda/queue/iosched/slice_idle 0
    write /sys/block/sda/queue/iostats 1
    write /sys/block/sda/queue/nr_requests 256
    write /sys/block/sda/queue/read_ahead_kb 128
    write /sys/block/sda/queue/rq_affinity 0

    ## configure governor settings for little cluster
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor "schedutil"
    write /sys/devices/system/cpu/cpufreq/policy0/schedutil/up_rate_limit_us 500
    write /sys/devices/system/cpu/cpufreq/policy0/schedutil/down_rate_limit_us 20000

    ## configure governor settings for big cluster
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_governor "schedutil"
    write /sys/devices/system/cpu/cpufreq/policy4/schedutil/up_rate_limit_us 500
    write /sys/devices/system/cpu/cpufreq/policy4/schedutil/down_rate_limit_us 20000

    ## Disable this service on custom kernels as it leads to an increased battery drain.
    stop secure_storage

    exec u:r:init:s0 -- /sbin/rz_kernel.sh
    exec u:r:su:s0 root root -- /sbin/rz_kernel.sh
    exec u:r:magisk:s0 root root -- /sbin/rz_kernel.sh
    exec u:r:supersu:s0 root root -- /sbin/rz_kernel.sh

on shutdown
